@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-VariableFont_wght.ttf");
}

@keyframes bgcolor {
  0% {
    color: #45a3e5;
  }

  30% {
    color: #66bf39;
  }

  60% {
    color: #eb670f;
  }

  90% {
    color: #f35;
  }

  100% {
    color: #864cbf;
  }
}

body {
  margin: 0;
  font-family: RobotoMono;
  background-color: black;
}

.sisältö {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sisältö__tekstit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  padding: 75px;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: x-large;
  text-align: center;
  padding: 25px 50px;
  -webkit-animation: bgcolor 30s infinite;
  animation: bgcolor 20s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: x-large;
  text-align: center;
  padding: 25px 50px;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding-left: 20px;
}

a {
  display: flex;
  flex-direction: row;
  -webkit-animation: bgcolor 30s infinite;
  animation: bgcolor 20s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  justify-content: center;
  font-size: large;
  text-align: center;
}

.projektit {
  display: none;
}

#projektit:target {
  display: flex;
  flex-direction: column;
  color: white !important;
}

.projektit__linkki {
  color: white !important;
}

ul {
  padding: 0;
}

li {
  display: flex;
  margin: 0;
}

#sulje {
  display: flex;
  justify-content: end;
  color: gainsboro !important;
}

@media (max-width: 1275px) {
  .sisältö {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .sisältö__tekstit {
    padding: 75px 0;
    max-width: 100%;
  }

  h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 64px;
    text-align: center;
    padding: 25px 50px;
    -webkit-animation: bgcolor 30s infinite;
    animation: bgcolor 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 64px;
    text-align: center;
    padding: 25px 50px;
  }

  p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding-left: 0;
    font-size: 48px;
  }

  a {
    display: flex;
    flex-direction: row;
    -webkit-animation: bgcolor 30s infinite;
    animation: bgcolor 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    justify-content: center;
    font-size: 48px;
    text-align: center;
  }

  .projektit {
    display: none;
  }

  #projektit:target {
    display: flex;
    flex-direction: column;
    color: white !important;
  }

  .projektit__linkki {
    color: white !important;
    flex: 1;
  }

  .projektit__kielet {
    flex: 1;
    margin-top: 40px;
  }

  ul {
    padding: 0;
  }

  li {
    display: flex;
    margin: 0;
    flex-direction: column;
  }
}